*{
	margin: 0;
	padding: 0;
}
.content{
	width: 1000px; 
	height: 100px; 
	background-color: red; 
	margin: auto;
}
body{
	background: #e9ebee;
	font-family: 'Times New Roman', Times, serif;	
}
#wrapper{
	width: 1200px;
	text-align: center;
	margin: 0 auto;
	background: white;
}
#mini-header{
	width: full-content;
	background: white;
	border-bottom: 1px solid tan;
	color: black;
	padding-top: 10px;
	padding-bottom: 14px; 
	text-align: right;
	font-weight: bold;
}
#home-menu{
	
}
.item-wrapper{
	background: #eaeaea;
	box-shadow: 0 0 3px black;
	border-radius: 10px;
    width: fit-content;
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}
.item-wrapper:hover{
	box-shadow: 0 0 12px black;
}
.home-menu-item{
	text-decoration: none;
	color: black;
}
.menu-item-name{
	font-size: larger;
	font-weight: bold;
}
#dangxuatbtn{
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 3px black;
	margin-left: 5px;
	padding: 10px 5px;
	background: tan;
}
#dangxuatbtn:hover{
	background: tomato;
}
#username{
	padding: 10px 5px;
	background: tan;
	color: white;
	text-shadow: 0px 0px 3px black;
}